<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="True" />
    <link rel="stylesheet" href="{{asset "built/style.min.css"}}">
    <link rel="stylesheet" href="{{asset "built/normalize.min.css"}}">
    <link rel="stylesheet" href="{{asset "built/highlight.min.css"}}">
    <script src="{{asset "built/highlight.min.js"}}"></script>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:200,400|Open+Sans:300,400,700" rel="stylesheet">
    <title>{{meta_title}}</title>
    {{ghost_head}}
</head>
<body>
    <header>
        <a href="/">
            {{#if @site.logo}}
                <img src="{{@site.logo}}" class="logo"/>
            {{/if}}

            <div class="title">{{@site.title}}</div>
        </a>

        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="nav">
            <a href="/"><section>Home</section></a>
            <a href="/tag/critica"><section>Críticas</section></a>
            <a href="/tag/artigo"><section>Artigos</section></a>
            <a href="/tag/prog-jam"><section>Prog Jams</section></a>
            <a href="https://saliesbox.com"><section>Contato</section></a>
        </div>
    </header>

    <div id="main">
        {{{body}}}
    </div>
    
    <footer>
        Copyright {{@site.title}} © <span class="year"></span>
        {{!--copyright message--}}
        <br>
        Criado e mantido por <a href="https://saliesbox.com">Daniel Serezane</a> via Ghost.
        <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR" target="_blank"><img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-sa.png" class="c-commons"></a>
    </footer>

    {{{block "scripts"}}}

    <script src="{{asset "built/index.min.js"}}"></script>

    {{ghost_foot}}
</body>
</html>