<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="True" />
    <title>{{meta_title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,900" rel="stylesheet">
    <link rel="stylesheet" href="{{asset "built/basic.min.css"}}">
    {{ghost_head}}
</head>
<body>
    <div class="wrapper">
        <a href="{{@site.url}}"><img src="{{@site.logo}}"/></a><br>
        <span>Error {{statusCode}}</span><br>
        <span>{{message}}<br/>Time out for a second. That wasn't supposed to happen.</span>
    </div>
</body>
</html>